{% extends 'base.html' %}

{% block title %}
{{ exerc.name }}
{% endblock %}

{% block content %}


<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-sm" id="back-btn" onclick="history.back()">Go Back</button>
                <div>
                    <h4 class="card-title">
                        {{ exerc.name }}
                    </h4>
                </div>
                <div>
                    <ul class="card-text">
                        <li><b>Equipment:</b> {{ exerc.equip_id.name }} </li>
                        <li><b>Description:</b> {{ exerc.description }} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}