{% extends 'base.html' %}

{% block title %}
Edit User
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div>
            <form class="edit-user-form" method="POST">

                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {{ field.label (class_="form-label")}}
                    {{ field (class_="form-control") }}

                    {% for error in field.errors %}
                    <span class="form-text text-danger">
                        {{ error }}
                    </span>
                    {% endfor %}
                </p>
                {% endfor %}
                <p class="required-input">* Input Required</p>

                <button class="btn btn-sm" id="save-btn" type="submit">Save</button>

                <a class="btn btn-sm" id="cancel-btn" href="/user/{{ g.user.id }}">Cancel</a>
                {% if g.user.id == user.id %}
                <form class="delete-user-form" method="POST" action="/user/{{ g.user.id }}/delete">
                    <button class="btn btn-sm" id="delete-btn">Delete Profile</button>
                </form>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}