{% extends 'base.html' %}

{% block title %}
Workout Planner
{% endblock %}

{% block content %}

{% for workout in workout %}
{% if g.user == workout.user %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <h2 class="card-title">
                        {{ workout.title }}
                        <a class="btn btn-sm btn-primary" href="/workout/{{ workout.id }}/edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" href="/workout/{{ workout.id }}/add-exercise">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    </h2>
                </div>

                <div>
                    <h5 class="card-text">
                        <p><em>{{ workout.description }}</em></p>
                    </h5>
                </div>
                <div>
                    <ul>
                        {% if workout.days %}
                        <li><b>Day Of Week:</b> {{ workout.days.days_of_week }}</li>
                        {% endif %}
                        {% if workout.exercise %}
                        <li>
                            <b>Excercises:</b>
                            <ul>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_1}}">
                                        {{ workout.exercise_1.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_2}}">
                                        {{ workout.exercise_2.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_3}}">
                                        {{ workout.exercise_3.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_4}}">
                                        {{ workout.exercise_4.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_5}}">
                                        {{ workout.exercise_5.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/exercise/{{workout.exercise_id_6}}">
                                        {{ workout.exercise_6.name }}
                                    </a>
                                    <a class="btn btn-sm" href="/workout/{{ workout.id }}/delete-exercise">
                                        <i class="fa-solid fa-circle-xmark"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}