{% extends 'base.html' %}

{% block title %}
User Home
{% endblock %}

{% block content %}
<h1>Home</h1>

{% for workout in workout %}
{% if g.user == workout.user %}
<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title">
                        {{ workout.title }}
                    </h4>
                    <div>
                        <a class="btn btn-sm btn-outline-primary" href="/workout/{{ workout.id}}/edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <p class="card-text"><em>{{ workout.description }}</em></p>
                </div>
                <div>
                    <ul>
                        <li><b>Day Of Week:</b> {{ workout.days.days_of_week }}</li>
                        <li><b>Excercises:</b> {{ workout.exercise.name }} </li>
                        <li><b>Equipment:</b> {{ workout.equipment.name }} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}