{% extends 'base.html' %}

{% block title %}
Create Workout
{% endblock %}

{% block content %}

<div class="container" id="create-workout-content">
    <form class="create-workout-form" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
            {{ field.label }}
            {{ field (class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">
                {{ error }}
            </span>
            {% endfor %}
        </p>
        {% endfor %}

        <button class="btn btn-sm" id="save-btn" type="submit">Create Workout</button>
        <a class="btn btn-sm" id="cancel-btn" href="/user/{{ g.user.id }}">Cancel</a>
    </form>
</div>

{% endblock %}