{% extends 'base.html' %}

{% block title %}
Edit Workout
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <form class="edit-workout-form" method="POST">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field (class_="form-control") }}

                {% for error in field.errors %}
                <span class="form-text text-danger">
                    {{ error }}
                </span>
                {% endfor %}
            </p>
            {% endfor %}

            <button class="btn btn-sm" id="save-btn" type="submit">Save</button>
            <a class="btn btn-sm" id="cancel-btn" href="/user/{{ g.user.id }}">Cancel</a>
            <a class="btn btn-sm" id="delete-btn" href="/workout/{{ workout.id }}/delete">Delete Workout</a>
        </form>

    </div>
</div>

{% endblock %}