{% extends 'base.html' %}

{% block title %}
Add Exercise
{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            <form class="add-exerc-form" method="POST">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                <p>
                    {{ field.label (id="day-exerc-lable") }}
                    {{ field (class_="form-control") }}

                    {% for error in field.errors %}
                    <span class="form-text text-danger">
                        {{ error }}
                    </span>
                    {% endfor %}
                </p>
                {% endfor %}

                <button class="btn btn-sm btn-success" type="submit">Save</button>
                <a class="btn btn-sm btn-primary" href="/user/{{ g.user.id }}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}